*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
/app/dataset
opencv
/app/src/main/ml/
.idea
/app/src/main/assets/models/*
litert_npu_runtime_libraries/qualcomm_runtime_v73/build
litert_npu_runtime_libraries/runtime_strings/build/*
